/Magistratur/1-й курс, 1-й Семестр/(1С) Информационные системы и обработка данных/Практика
Magistratur/1-й курс, 1-й Семестр/(1С) Информационные системы и обработка данных/Радченко_М_Г_,_Хрусталева_Е_Ю_1С_Предприятие_8_3_Практическое_пособие.pdf
